---
interface Props {
  title: string;
  subtitle: string;
}

import { Image } from "astro:assets";
import LogoImage from "@/assets/yakushin02.png";

const { title, subtitle } = Astro.props;
---

<div class="hero-container">
  <div class="hero-content">
    <Image src={LogoImage} alt="Manifesto" width={420} height={420} />
    <h1 class="hero-title">
      {title}
    </h1>
    <p class="hero-subtitle">
      {subtitle}
    </p>
  </div>
</div>

<style>
  .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
  }

  .hero-content {
    text-align: center;
  }

  .hero-content img {
    max-width: 100%;
    height: auto;
  }

  .hero-title {
    font-size: 2.0rem;
    font-weight: 800;
  }

  .hero-subtitle {
    margin-top: 0.75rem;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    color: #6b7280;
  }

  @media (min-width: 640px) {
    .hero-container {
      /* padding: 4rem 1.5rem; */
    }

    .hero-title {
      font-size: 2rem;
    }

    .hero-subtitle {
      font-size: 1.125rem;
    }
  }

  @media (min-width: 768px) {
    .hero-title {
      font-size: 2.75rem;
    }

    .hero-subtitle {
      margin-top: 1.25rem;
      font-size: 1.25rem;
    }
  }
</style>